---
import { ClientRouter } from 'astro:transitions';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import en from '../../locales/en.json';
import de from '../../locales/de.json';
import '../styles/tailwind.css';

const { title, activePage, lang } = Astro.props;
const locales = { en, de };
const t = locales[lang] || en;
---
<!doctype html>
<html lang={lang} class="h-full m-0 p-0 overscroll-none">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <title>{title}</title>
        <ClientRouter />
        <script is:inline src="/js/p5.min.js"></script>
        <script is:inline src="/js/sketch.js"></script>
    </head>
    <body class="h-full flex flex-col m-0 p-0 bg-linear-to-r from-zinc-950 to-zinc-800 text-zinc-400 overscroll-none">
        <div id="p5-bg" transition:persist="p5-bg"></div>
        <div class="md:container grow md:mx-auto sm:p-6 md:p-10 xl:p-20">
            <div class="flex flex-col">
                <aside class="pb-3 sm:pb-4 w-full sm:px-0">
                    <div class="sticky xl:top-8 p-2 xl:p-3 bg-zinc-900 sm:rounded-xl w-full border-b sm:border border-zinc-800">
                        <Navigation activePage={activePage} lang={lang} t={t} />
                    </div>
                </aside>
                <main role="main" class="bg-zinc-900 p-5 sm:p-8 md:p-10 sm:rounded-xl border-0 sm:border border-zinc-800 w-full">
                    <slot />
                </main>
            </div>
        </div>
        <footer class="fixed bottom-0 w-full shadow-top">
            <Footer lang={lang} t={t} />
        </footer>
    </body>
</html>
